body{
  background-color:#6e6969;
  text-align:center;
}

.container{
  display:inline-block;
  background-color: #fff;
  border-radius: 5px;
  height: auto;
  padding: 15px 18px;
  margin: 10% auto;
  margin-left: auto;
  margin-right: auto;
} 